@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .btn-clip {
    clip-path: polygon(15% 0, 100% 0, 100% 75%, 75% 100%, 0 100%, 0 25%);
  }
  /* .screen-container {
    max-width: 2000px;
  } */
  .btn-primary {
    @apply font-btn bg-gradient-to-b from-custom-yellow to-custom-orange text-black font-bold hover:from-custom-yellow-hover hover:to-custom-orange-hover active:from-custom-yellow-active active:to-custom-orange-active transition-all ease-in-out duration-1000;
  }

  .cut-corners {
    clip-path: polygon(6% 0, 100% 0, 100% 74%, 94% 100%, 0 100%, 0 27%);
  }

  .cut-card {
    clip-path: polygon(16% 0, 100% 0, 100% 100%, 0 100%, 0 16%);
  }

  .trapezoid {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 11% 100%);
  }
  .btn-clip {
    clip-path: polygon(15% 0, 100% 0, 100% 75%, 75% 100%, 0 100%, 0 25%);
  }
  .avatar-card-clip {
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%, 0 25%);
  }
  .avatar-btn-right {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);
  }
  .avatar-btn-left {
    clip-path: polygon(0 0, 95% 0, 100% 100%, 0 100%);
  }
  .avatar-shadow {
    filter: drop-shadow(0px 0px 8px #f9d017);
  }
  .triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
}
html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
